<h3>Dear <%= @tell_friend.friend_name %><h3>
Thank you for showing interest on minetoo app
Your friend <h3><%=@tell_friend.sender_name%><h3>
<strong>sent u message</strong></br><h4> <%=@tell_friend.message%></h4>

</br>
clik here to know about mine too
<a href="#">Minetoo app</a>