
<h2>about Mine too</h2>


<strong style="font-size:22px;text-shadow:6px 6px 6px #fff;">Have you ever wondered who else was born on your birthday - who else came into the world the exact same day as yourself?</strong> </br>

	<!-- Codes by HTML.am -->




</br>
<p style="font-size:18px;text-shadow:4px 4px 4px #666;">

=> Forget historical figures, politicians, film stars or famous musicians who share your birthday. You'll probably know about those anyway. Many websites have 'famous people born on this day' slots. Minetoo.com is a new site with a completely different take on the "same birthday" phenomenon. We're interested in people like you and me. People living their lives in different places, who don't yet know each other, yet happen to share something very special... namely the day they were born, the day they emerged into the world. Minetoo.com will help you meet some of the hundreds of thousands of people who share your date of birth. If you've ever asked yourself the question: "I wonder who else shares my birthday?" - then this site is for you, it's as simple as that.
With Minetoo.com you will discover people who share your date of birth - perhaps even the hour. Although we never reveal your email address, you will be able to search for those with the same birthday, browse through their interests, read about their lives. Should you wish you will be able to make contact with them directly through the site.</br>

=> Minetoo.com offers birthday sharers a chance to satisfy their own curiosity - and make new friends. Also to test out, over time, whether horoscope predictions are confirmed by our members' life experiences. The more people who use the site the more accurate, more complete picture all of us will have. We'll be better able to answer the fascinating question of whether astrology's claims are true. Star sign compatibility or just serendipity? You choose.</br>

=> At first - as the Minetoo.com project builds up - there won't be much to see. This is normal and expected. Stay with us though and don't let it stop you joining (remember, joining is free). Your patience will bear fruit. As more and more people all over the world discover Minetoo.com, it will become a great place to spend time. Don't forget we'll remind you whenever we find someone who shares your birthday. When we get a Minetoo Match we'll email you, so you don't have to keep logging on every day.</br>

=> It's going to be an interesting journey. Thanks for joining us and don't forget to tell your friends.</p>

 <%= link_to "More thoughts and questions...", welcome_thoughts_path%></br>
 <%= link_to "Birthday Paradox...", welcome_paradox_path%>
