

</br>
</br>
<h2>Frequently asked questions</h2>


 
		
		



<h3>Is my E-mail address safe with Minetoo?</h3>

</br>
<p style="font-size:18px;text-shadow:4px 4px 4px #666;">
=>  
     Yes. We will never under any circumstances disclose your e-mail address to anyone. You can make    contact through the site safely with other minetoo subscribers without the need to disclose your email address unless you choose to do so.</br>
<h3> How do I contact Minetoo?</h3>
     => Please use any of the methods listed on the</br>
<h3>I am worried about cookies.</h3>
     => Minetoo.com only uses cookies to facilitate easy and swift use of the site. We hate Trojans and other spyware and would never under any circumstances ever use them.</br>

<h3>What happens if I change my mind about membership</h3>
 =>if you want to have your details removed. Subscriptions are not .</br>
<h3> Will I get lots of unwanted messages by joining Minetoo?</h3>
     =>No. We hate Spam as much as anyone else. We will never sell, rent or otherwise disclose your e-mail address to any third party.
Otherwise we will only disclose that information that you personally have chosen to disclose to us in order to use the site to its full. If you choose you can, in preferences, allow us to notify you of any offers or benefits from time to time.</br>
We will never publish your email address, and ensure that any email you send through the site does not reveal your email address.
Frequently Asked Questions
refundable