

<h2>Birthday Paradox</h2>



	<!-- Codes by HTML.am -->
</br>
<p style="font-size:18px;text-shadow:4px 4px 4px #666;">
		
		
		



<h2>How many people do you need at a party to have a 50/50 chance that two of them share a birthday?</h2>

</br>
<p style="font-size:18px;text-shadow:4px 4px 4px #666;">
		
=> Most people would say "lots". At first sight, it seems like there's little chance of finding two people in a small group sharing the same birthday. After all, if you meet a random stranger on the street, there's just a 1 in 365 chance that they'll share your birthday.</br></br>


=> The answer is that you only need 23 people.
Click here to find your match!</br></br>
As it turns out, the reason it catches so many people out is that you're not actually asking the question you think you're asking. You're not asking how many people share your birthday, you're asking if anyone shares anyone else's birthday.</br></br>

=> Let's consider each person at the party in turn. Each of them is asking 22 other people if they share their birthday. So in total, that's 253 pairs of people who potentially share their birthday. How did we get that number? Multiply 23 by 22, then divide by two because there's only one question asked per pair.</br></br>
=> That's over half of 365, so there's a reasonable chance that at least one pair will have the same birthday.</br></br>

=> We've simplified the maths a bit, and ignored the fact that birthdays are not evenly distributed over the year. If you're interested in finding out more, searching on Google for "Birthday Paradox" will give you a more technical perspective on the problem.</br></br>

=> Minetoo goes a few steps further than the Birthday Paradox; we match you on your exact birthdate, including the year of birth, and we don't just match you with 22 other people, we match you with all the members of our rapidly growing community!</p></br>
<%= button_to "Click Here to find match", root_path, :method => "get" %>