

</br>
</br>
<h2>More thoughts and Questions</h2>


<strong style="font-size:22px;text-shadow:6px 6px 6px #fff;">Have you ever wondered who else was born on your birthday - who else came into the world the exact same day as yourself?</strong> </br>

	<!-- Codes by HTML.am -->




</br>
<p style="font-size:18px;text-shadow:4px 4px 4px #666;">


=> Both Western Astrology and Chinese Astrology suggest there are two romantically compatible signs for each of the twelve astrological signs (star signs, sun signs or moon signs). In the West, astrologers link Aries for instance with Leo and Sagittarius. This is "sign compatibility" and it's an increasingly popular idea... Have your partners or former partners come from compatible signs? Or how have things worked out for you when partners belonged to incompatible signs?</br>

=> Capricorn drivers tend to have fewer accidents behind the wheel while Gemini are the most accident prone, according to Suncorp Metway Ltd. In 2003, this Australian finance house looked at 160,000 accident claims over three years. Why should Capricorns and Scorpios be the best and Gemini and Taurus the worst drivers? Scorpios are also romantically compatible with Taureans. Is there some kind of strange link here? What's going on?,</br>

=> The urge to find out what was happening in the world on the exact day you were born explains why "Birthday Newspaper" sites are now so well used. It is a short step from there to wondering whether that particular day, your birthday, has any further significance for you. Astrology is one way of trying to answer those questions. So how well has astrological prediction worked for you?</br>

=> We all find coincidence interesting. We sometimes call it serendipity. Where romance and friendship are concerned, it also shades into notions like compatibility or sign compatibility. Anyway, it seems to speak to something quite fundamental about us as human beings; that we love pattern and are hard-wired to seek it out. As a result we find patterns everywhere. Is astrology just part of this chaos-avoiding impulse, this urge to seek out pattern? Do we just prefer to tell ourselves that things were 'meant to be' because that makes a better story than attributing coincidence or compatibility to mere chance?
</p>
<%= button_to "Click Here to find match", root_path, :method => "get" %>