/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#banner {
background: white;
padding: 80px;
border-bottom: 4px solid;
font: small-caps 40px/40px "Times New Roman", serif;
color: black;

text-align: center;
img {
 bottom: 30px;
 left: 320px;
position: relative;
hight: 400;
width: 200px;
float: left;

}
}
#notice {
color: #00FF00 !important;
border: 2px solid green;
padding: 1em;
margin-bottom: 2em;
background-color:#909090;
font: bold smaller sans-serif;
}
#columns {
background-image: url("fr.jpeg");
#main {
margin-left: 17em;
padding: 10em;
background: FF99FF ;
}
#side {

float: left;
padding: 1em 2em;
width: 15em;
background:black;
form, div {
display: inline;
}
input {
font-size: small;
}
#cart {
font-size: smaller;
color:white;
table {
border-top:1px dotted #595;
border-bottom: 1px dotted #595;
margin-bottom: 10px;
}
}

ul {
padding: 0;
li {
list-style: none;
color: red;
a {
color: white;
font-size: 13px;
font-size: small;
}

}
}
}
}



.depot_form {
fieldset {
background: #efe;
legend {
color: #dfd;
background: #141;
font-family: sans-serif;
padding: 0.2em 1em;
}
}
form {
label {
width: 5em;
float: left;
text-align: right;
padding-top: 0.2em;
margin-right: 0.1em;
display: block;
}
select, textarea, input {
margin-left: 0.5em;
}
.submit {
margin-left: 4em;
}
br {
display: none
}
}
}