<h2> My life</h2>
<h4>
"I'm an Australian and I've been working my way around the world.For the past two years,</br>
 I've been in London. </br> Ambitions? Well more travel maybe. I'd really like to see China. Regrets? None so far."</br>
Try and put the most interesting thing about yourself in the first sentence. This is all many people will see when they browse through the entries so attract their attention. Put yourself in their position, and try to get people to read more about you.</br>
You might also tell them about:
Events that changed your life.</br>
Memorable moments.
People, pets, things, places that are important to you
Ambitions, regrets, triumphs and disasters
Interests, hobbies and pastimes.
</br> Things you'd most like to see banned, abolished or binned
</h4>

