<h1>my_life</h1>
<h3>
Now here's your chance to say something about yourself. There is a minimum length of around four sentences so you don't need to say much if you don't want to. You can just expand on the qualities
you've already chosen, or
</h3>


<%= link_to "click here for more help and suggestions", my_lives_path %>

<%= render 'form' %>


