<h2>Tell a friend</h2>

<h3>

Fill in your friend's name and email address, and if you know it, their birthdate, and we'll send them a personalised email to welcome them to Minetoo </h3>


<%= render 'form' %>


