<h1>message sent successfully to <%= @tell_friend.friend_name %>( <%= @tell_friend.friend_email %>)</h1>
<h3>click here to send another friend</h3>
<%= link_to 'tell another friend name',new_tell_friend_path %>
