<h1>eneter the name of database u want create </h1>
<form >
<input type ="text" value="name">
<input type ="submit" name="submit">

</form>
<strong>click here to go back</strong>
<a href='/show_database'>back</a>