<html>
<head>
<title>data base information</title>
</head>
<body>
<strong><a href ='/database'>database level</a></strong> </br></br></br>
<strong><a href='/modify'>database manipulation</a></strong> </br></br></br>
<strong><a href='/control'>database control</a></strong> </br></br></br>
</body>
</html>
