<h2>the present database are</h2>
<form >
 <ol> 
   
   <% @v.each do |i| %>
    
   <a href=<li> <%=i %> </li></a> </br>
  
   <% end %>
</ol>
</form
<h2>use the database name to view tables </h2>

 <form action="/show_tables">
<input type="text" name="item">
<input type="submit" value="sumbit">
</form> 
   
  
