<h2>these are the list of databases</h2>
<p>select the database to see the description</p>
<ol>
<% @a.each do |p| %>

<li><a href="/action1?db_name=<%=p.values.first %>"> <%=p.values.first %> </a></li>

<% end %>
</ol>
<br/>
<strong>if u want to create a new database then click here </strong>
<a href ='create_database'>create database</a>
