<h3>Select between four and ten qualities which best describe you. Your choices cannot be changed later. Choose carefully. Or, if you dare, get a friend or partner to choose some for you!</h3>

<%= render 'form' %>

